    @inject EventService EventHomeService
@inject IJSRuntime JS
@page "/"

@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1 class="mb-5 mt-5 text-center">Events!</h1>

<div class="container my-5"> 
    <div class="row justify-content-center">
        <div class="col-12">    
            @if (ViewModel.Events == null || !ViewModel.Events.Any())
            {
                <div class="loading-spinner">
                    <div class="circle-track"></div>
                </div>
                <div class="loading-text">Loading events...</div>
            }
            else
            {
                <div class="ms-auto mt-2 mb-3">
                    <button type="submit" class="btn btn-success btn-sm" @onclick="ShowEventCreateModal">
                        <i class="fa-solid fa-circle-plus me-1"></i>
                        Create New Event
                      
                    </button>
                </div>
                @foreach (var eventCard in ViewModel.Events)
                {
                    <div class="event-card texture-effect-cross card mb-3" @onclick="() => NavigateToEvent(eventCard.Id, eventCard.GuildId)">
                        <div class="card-body pb-2 pt-2">
                            <div class="d-flex align-items-center position-relative">
                                <h2 class="fs-1 event-card-title mx-auto mb-2 text-center runescape-font ">
                                    @eventCard.EventName
                                </h2>
                            </div>
                            <p class="card-text text-center runescape-font">hosted by @eventCard.GuildId.</p>
                            <hr />
                            <div class="d-flex flex-wrap align-items-center event-card-icon">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-user-group"></i>
                                    <p class="m-0" style="font-size:0.9rem; font-weight:bold">  &nbsp; @eventCard.TotalPlayers</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-clock"></i>
                                    <p class="m-0" style="font-size:0.9rem; font-weight:bold">  &nbsp; @eventCard.CreatedDate.ToString("dd/MM/yyyy")</p>
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="fa-regular fa-clock"></i>
                                    <p class="m-0" style="font-size:0.9rem; font-weight:bold">  &nbsp;  @eventCard.EventEnd.ToString("dd/MM/yyyy")</p>
                                </div>
                                <div class="d-flex align-items-center mb-1">
                                    <div class="green-circle me-2"></div>
                                    <p class="m-0" style="font-size:0.9rem; font-weight:bold">
                                        event active · @((eventCard.EventEnd - eventCard.EventStart).TotalDays.ToString("0")) Days left
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<AddNewEventModal @bind-IsVisible="ViewModel.ShowEventCreateModal" OnSave="Save"></AddNewEventModal>

@code {
    private EventHomeViewModel ViewModel = new EventHomeViewModel();

    protected override async Task OnInitializedAsync()
    {

        ViewModel.Events = await EventHomeService.GetAllEvent();


        StateHasChanged();
        
    }

    private void NavigateToEvent(int eventId, ulong guildId)
    {
        NavManager.NavigateTo($"/event/{eventId}/{(long)guildId}");
    }

    private async Task Save(AddTeamRequest add)
    {
    }

    private async Task ShowEventCreateModal()
    {
        ViewModel.ShowEventCreateModal = true;
    }
}
