@inject UsersService AddTeamService

@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);" @onmousedown="CloseModal">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center  modal-lg" @onmousedown:stopPropagation="true">
            <div class="modal-content texture-effect-grain" style="min-height:40vh;">
                <div class="modal-header" style="border-color:#c6aa76;">
                    <h2 class="fs-3 event-card-title mx-auto mb-2 runescape-font ps-4">
                        Team Admin
                    </h2>
                    <button type="button" class="btn-close" aria-label="Close" @onmousedown="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <div class="toggle-switch mb-2">
                        <input type="checkbox" id="toggle" @onchange="TeamTypeToggle" />
                        <label for="toggle"></label>
                    </div>
                    <label for="teamName" class="text-white mb-2" style="font-weight: bold; display: block;">
                        Team Name
                    </label>
                    @if (ViewModel.AddExistingTeamToggle == true)
                    {
                        <select class="modal-select" @onchange="ExistingTeamSelected">
                            @foreach (var team in UnassignedGuildTeams)
                            {
                                <option value="@team.Id">@team.TeamName</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input type="text" class="modal-textbox" @bind="ViewModel.NewTeamToBeCreated.TeamName" @bind:event="oninput" placeholder="Type team name here...." />
                    }
                    <div class="d-flex gap-3 w-100 mt-3">
                        <div class="team-column">
                            <select class="modal-select mb-2" @bind="ViewModel.SelectedEditModeTeamId">
                                <option value="@ViewModel.UnassignedUsers.Id">@ViewModel.UnassignedUsers.TeamName</option>
                                @foreach (var team in Teams)
                                {
                                    <option value="@team.Id">@team.TeamName</option>
                                }
                            </select>
                            @if (ViewModel.SelectedEditModeTeamId == 0)
                            {
                                <div class="border p-3 pt-1" style="height:12rem">

                                    <input type="text" class="modal-textbox mb-1" @oninput="UserSearch" placeholder="Search user here...." style="height:2rem;" />

                                    <Dropzone TItem="MiRS.UI.Wasm.Domain.Entities.UserToTeam" OnItemDrop="OnPlayerDropped" Items="@(CurrentPlayers())" Class="team-item-container-small" ItemWrapperClass="@(item => "team-item-small")">
                                        @context.User.Runescapename
                                    </Dropzone>
                                </div>
                            }
                            else
                            {
                                <div class="border p-3" style="height:12rem">
                                    <Dropzone TItem="MiRS.UI.Wasm.Domain.Entities.UserToTeam" OnItemDrop="OnPlayerDropped" Items="@(CurrentPlayers())" Class="team-item-container-small" ItemWrapperClass="@(item => "team-item-small")">
                                        @context.User.Runescapename
                                    </Dropzone>
                                </div>
                            }
                        </div>
                        <div class="team-column">
                            <div class="modal-select mb-2">
                                @if (string.IsNullOrWhiteSpace(ViewModel.NewTeamToBeCreated.TeamName))
                                {
                                    <div>Please choose a team name...</div>
                                }
                                else
                                {
                                    <div>@ViewModel.NewTeamToBeCreated.TeamName</div>
                                }
                            </div>
                            <div class="border p-3" style="height:12rem">
                                @if (ViewModel.SelectedEditModeTeamId == 0)
                                {
                                    <Dropzone CopyItem="CopyPlayer" OnItemDrop="OnPlayerDropped" TItem="MiRS.UI.Wasm.Domain.Entities.UserToTeam" Items="ViewModel.NewTeamToBeCreated.UsersInTeam" Class="team-item-container-small" ItemWrapperClass="@(item => "team-item-small")">
                                        @context.User.Runescapename
                                    </Dropzone>
                                }
                                else
                                {
                                    <Dropzone TItem="MiRS.UI.Wasm.Domain.Entities.UserToTeam" OnItemDrop="OnPlayerDropped" Items="ViewModel.NewTeamToBeCreated.UsersInTeam" Class="team-item-container-small" ItemWrapperClass="@(item => "team-item-small")">
                                        @context.User.Runescapename
                                    </Dropzone>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer m-0 p-0" style="border: none;">
                    <button class="btn btn-primary me-2" @onmousedown="SaveTeamChanges">Save</button>
                </div>
            </div>
        </div>
    </div>
}


@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public IList<GuildTeam> Teams { get; set; } = new List<GuildTeam>();
    [Parameter] public IList<GuildTeam> UnassignedGuildTeams { get; set; } = new List<GuildTeam>();
    [Parameter] public EventCallback<AddTeamRequest> OnSave { get; set; }

    private AddTeamViewModel ViewModel = new AddTeamViewModel();

    private async Task CloseModal()
    {
        await Task.Delay(200, new CancellationTokenSource().Token);
        IsVisible = false;
        ViewModel = new AddTeamViewModel();
        await IsVisibleChanged.InvokeAsync(false);
    }

    private IList<UserToTeam> CurrentPlayers()
    {
        if (ViewModel.SelectedEditModeTeamId == 0)
        {
            return ViewModel.UnassignedUsers.UsersInTeam.ToList() ?? new List<UserToTeam>();
        }

        return Teams?.FirstOrDefault(t => t.Id == ViewModel.SelectedEditModeTeamId)?.UsersInTeam ?? new List<UserToTeam>();
    }

    private async Task SaveTeamChanges()
    {
        await OnSave.InvokeAsync(new AddTeamRequest
        {
            AddExistingTeamToggle = ViewModel.AddExistingTeamToggle,
            NewTeamToBeCreated = ViewModel.NewTeamToBeCreated,
            CurrentTeamsToBeUpdated = Teams
        });

        ViewModel = new AddTeamViewModel();

        await CloseModal();
    }

    private void TeamTypeToggle()
    {
        ViewModel.AddExistingTeamToggle = ViewModel.AddExistingTeamToggle ? false : true;
        ViewModel.NewTeamToBeCreated = new GuildTeam();
    }

    private void ExistingTeamSelected(ChangeEventArgs e)
    {
        var test = UnassignedGuildTeams.Where(gt => gt.Id == int.Parse(e.Value?.ToString() ?? string.Empty)).FirstOrDefault();
        ViewModel.NewTeamToBeCreated = test;

    }

    private async Task UserSearch(ChangeEventArgs e)
    {
        string userSearchKey = e.Value?.ToString() ?? string.Empty;

        if (string.IsNullOrWhiteSpace(userSearchKey))
        {
            ViewModel.UnassignedUsers.UsersInTeam.Clear();
            return;
        }

        ViewModel.UserSearchCancelToken?.Cancel();
        ViewModel.UserSearchCancelToken = new CancellationTokenSource();

        try 
        {

            await Task.Delay(300, ViewModel.UserSearchCancelToken.Token);
            ViewModel.UnassignedUsers.UsersInTeam = await AddTeamService.UserSearch(userSearchKey, ViewModel.UserSearchCancelToken.Token);
        }
        catch (TaskCanceledException)
        {
            ViewModel.UnassignedUsers.UsersInTeam.Clear();
            return;
        }
    }

    private UserToTeam CopyPlayer(UserToTeam item)
    {
        return new UserToTeam
        {
            Id = item.Id,
            UserId = item.UserId,
            TeamId = item.TeamId,
            User = item.User
        };
    }

    private void OnPlayerDropped(UserToTeam player)
    {
        var duplicates = ViewModel.NewTeamToBeCreated.UsersInTeam
            .Where(p => p.User.Runescapename == player.User.Runescapename)
            .ToList();

        if (duplicates.Count > 1)
        {
            for (int i = 0; i < duplicates.Count - 1; i++)
            {
                ViewModel.NewTeamToBeCreated.UsersInTeam.Remove(duplicates[i]);
            }
        }
    }
}
